<div class="content_pane">
    <h1>About us</h1>
<p>Here at onReader we believe in a set of values that most people already agree on: quality services for free, less advertising means happier viewers, and people like things that are easy to use.</p> <p>The difference is: we actually act on them.  You will never see an advertisement on our site, and it will always be free to use, at least until you want to support us or access premium features. Your information will never be shared or sold; we don't even require an e-mail address until you want notifications or new reading suggestions. We are committed to keeping your eyes stress-free while browsing through the best the web has to offer, so you will never find a cluttered or difficult to use page.</p>
</div>