<div class="content_pane">
    <h1>New feed</h1>

<%= render 'form' %>
	<p>We are working on a way to find a feed url from basic urls but for now,</br> please enter the exact rss/atom feed url.</p>
</div>