<div class="description">
    the best things to read are at your fingertips
</div>
<div class="button_bar">
    <%= link_to 'READ', {:controller => :reader, :action => :index}, :class => 'button read' %>
    <%= link_to 'EXPLORE', {:controller => :explore, :action => :index}, :class => 'button explore' %>
    <%= link_to 'ABOUT', {:controller => :static_pages, :action => :about}, :class => 'button about' %>
</div>
