
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<% if is_logged_in? %>
<%= button_to 'logout', logout_path, :method => :delete %>
<% else %>
<%= button_to 'login', login_path, :method => :get %>
<% end %>