<div class="description">
    the best things to read are at your fingertips
</div>
<div class="button_bar">
    <%= link_to 'Read', {:controller => :reader, :action => :index}, :class => 'button read' %>
    <%= link_to 'Explore', {:controller => :explore, :action => :index}, :class => 'button explore' %>
    <%= link_to 'About us', {:controller => :static_pages, :action => :about}, :class => 'button about' %>
</div>
