<div class="content_pane"><h1>Listing subscriptions</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subscriptions.each do |subscription| %>
  <tr>
    <td><%= Feed.find_by_id(subscription.feed_id).title %></td>
    <td><%= link_to 'Unsubscribe', subscription, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<!-- <%= link_to 'New Subscription', new_subscription_path %> -->
</div>