// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face{
	font-family: Museo;
	src: url('/assets/MuseoSans_300.otf');
}
@font-face{
	font-family: Museo;
	font-weight: bold;
	src: url('/assets/MuseoSans_700.otf');
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font-family: Museo, sans-serif;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    -moz-font-feature-settings: inherit;
    -moz-font-language-override: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
body{
	height: 100%;
}
h1{
	font-size: 20px;
	line-height: 27px;
}
p{
	margin-bottom: 10px;
}
strong{
	font-weight: bold;
}
ol,ul{
	list-style: none outside none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}
label{
	text-align: center;
}
a{
	outline: 0px none;
	text-decoration: none;
	color: #455560;
}
a:hover{
	color: #f89728;
}
a:visited{
	color: #455560;
}
.hero-section {
    padding: 0px;
    height: 688px;
    margin: 0px auto;
}
.main-header .actions, .main-header .top-nav {
    position: absolute;
    top: 0px;
    height: 100px;
}
.centered-element, .header-nav, .nav-drawer .drawer-content, .footer-nav, .main-content, .aside-content {
    width: 1070px;
    margin: 0px auto;
}
.content{
	width: 1070px;
	margin: 0px auto;
	padding: 20px 10px 0px 10px;
	color: rgb(0, 0, 0);
	overflow: hidden;
	min-width: 1020px;
	box-shadow: none;
	border-bottom: 1px solid rgb(255, 255, 255);
}
.view {
	position: relative;
	width: 1070px;
	height: 700px;
	overflow: hidden;
}
.underlay{
	position: relative;
	width: 1070px;
	height: 600px;
	top: 100px;
	overflow: auto;
}
.header-wrapper {
    position: relative;
}
.main-header{
	position: absolute;
	top: 0;
	width: 100%;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	border-bottom: 1px solid #ffffff;
	min-width: 1020px;
	height: 100px;
	z-index: 100;
}
.main-header .home-link{
	position: absolute;
    top: 0px;
	height: 75px;
	left: 0px;
	display: block;
	width: 290px;
	padding: 25px 0px 0px 30px;
}
.main-header a.home-link, .main-header a.nav-link {
    background: none repeat scroll 0% 0% transparent;
    -moz-transition: background 0.2s ease-in-out 0s;
}
.main-header .actions{
	right: 1px;
	z-index: 1;
	width: 100px;
	padding: 35px 50px 0px 80px;
	height: 65px;

}
.header{
	position: absolute;
	top: 0px;
	width: 100%;
	margin-bottom: 50px;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
	border-bottom: 1px solid #666;
	min-width: 1020px;
	height: 200px;
}
.header-nav{
	position: relative;
	width: 1070px;
}
.button {
	line-height: 18px;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	text-shadow: 0px 1px rgb(255,255,255);
	color: #455560;
	background: #EEE;
	border: 1px solid #b0b0b0;
	box-shadow: none;
	-moz-background-origin: border;
	-moz-box-shadow: none;
	-ms-background-origin: border-box;
	-o-background-origin: border-box;
	text-shadow: 0 1px #fff;
	-webkit-background-origin: border;
	-webkit-box-shadow: none;
	min-width: 100px;
}
.button, input, textarea{
	border-radius: 5px 5px 5px 5px;
	padding: 7px 5px;
	top: 0px;
	left: 0px;
	margin-top: 5px;
	box-shadow: none;
	border-width: 1px;
	border-style: solid;
	border: 1px solid rgb(174, 174, 174);
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
}
.button:hover{
	background: #e5e5e5;
	border-color: #dedede #d4d4d4 #c8c8c8;
}
.button:active{
	background: #ccc;
	background: linear-gradient(#cccccc,#eeeeee);
	background: -moz-linear-gradient(#cccccc,#eeeeee);
	background: -o-linear-gradient(#cccccc,#eeeeee);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #eeeeee));
	background: -webkit-linear-gradient(#cccccc,#eeeeee);
	border-color: #828282 #b4b4b4 #dfdfdf;
	box-shadow: inset 0 1px 0 1px rgba(0,0,0,0.05),inset 0 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 0 1px rgba(0,0,0,0.05),inset 0 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 0 1px rgba(0,0,0,0.05),inset 0 1px rgba(0,0,0,0.1);
}
.signin-button{
	padding: 5px 5px;
	font-size: 13px;
	min-width: 78px;
}
.signup{
	margin-bottom: 30px;
	width: 255px;
}

.password, .password-confirm{
	width: 113px;
	padding: 7px 5px;
}
.top-nav {
	right: 180px;
	width: 569px;
	padding-left: 1px;
    margin: 0px;
    padding: 0px;
    border: 0px none;
    overflow: hidden;
}
.top-nav .nav-list{
	padding: 25px 0px 0px;
}
.nav-list li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}
.nav-item{
	width: 180px;
}
.read-icon{
	background: image_url("read-icon.png") no-repeat;
	position: absolute;
	opacity: 1;
	width: 68px;
	height: 50px;
	top: 15px;
	left: 56px;
}
.about-icon{
	background: image_url("about-icon.png") no-repeat;
	position: absolute;
	opacity: 1;
	width: 53px;
	height: 55px;
	top: 10px;
	left: 61px;
}
.explore-icon{
	background: image_url("explore-icon.png") no-repeat;
	position: absolute;
	opacity: 1;
	width: 52px;
	height: 55px;
	top: 10px;
	left: 62px;
}
.top-nav .nav-icon {
	opacity: 1;
	position: absolute;
	top: 10px;
}
.top-nav .tagline{
	display: block;
	font-size: 12px;
	line-height: 12px;
	color: rgb(127, 151, 153);
}
.top-nav .nav-link {
    display: block;
    position: relative;
    text-align: center;
    height: 40px;
	padding: 60px 0px 0px;
    font-size: 16px;
	color: #455560;
}
input{
	font-family: Museo, sans-serif, arial;
	font-size: 13px;
	font-weight: bold;
	width: 242px;
}
input:-moz-placeholder {
	color: #95A2AC;
}
input:-webkit-input-placeholder{
	color: #95A2AC;
}
.text{
	display: block;
	width: 100%;
}
.start, .join-field {
	width: 254px;
	margin: 5px 0px 0px;
}
.start{
	color: white;
	text-shadow: 0px -1px rgb(149, 162, 172);
	background: #00B1FF;
	background: linear-gradient(#00B1FF,#0089B9);
	background: -moz-linear-gradient(#00B1FF, #0089B9);
	background: -o-linear-gradient(#00B1FF,#0089B9);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00B1FF), color-stop(100%, #0089B9));
	background: -webkit-linear-gradient(#00B1FF,#0089B9);
}
.start:hover{
	background: #28BED4;
	border-color: #dedede #d4d4d4 #c8c8c8;
}
.start:active{
	background: #ccc;
	background: linear-gradient(#0089B9,#00B1FF);
	background: -moz-linear-gradient(#0089B9, #00B1FF);
	background: -o-linear-gradient(#0089B9,#00B1FF);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0089B9), color-stop(100%, #00B1FF));
	background: -webkit-linear-gradient(#0089B9,#00B1FF);
	border-color: #828282 #b4b4b4 #dfdfdf;
	box-shadow: inset 0 1px 0 1px rgba(0,0,0,0.05),inset 0 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 0 1px rgba(0,0,0,0.05),inset 0 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 0 1px rgba(0,0,0,0.05),inset 0 1px rgba(0,0,0,0.1);
}
.login-button{
	background: #ccc;
	background: linear-gradient(#ccc,#999);
	background: -moz-linear-gradient(#ccc, #999);
	background: -o-linear-gradient(#ccc,#999);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ccc), color-stop(100%, #999));
	background: -webkit-linear-gradient(#ccc,#999);
}
.login-button:hover{
	background: #28BED4;
	border-color: #dedede #d4d4d4 #c8c8c8;
}
.login-button:active{
	background: #ccc;
	background: linear-gradient(#0089B9,#00B1FF);
	background: -moz-linear-gradient(#0089B9, #00B1FF);
	background: -o-linear-gradient(#0089B9,#00B1FF);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0089B9), color-stop(100%, #00B1FF));
	background: -webkit-linear-gradient(#0089B9,#00B1FF);
	border-color: #828282 #b4b4b4 #dfdfdf;
	box-shadow: inset 0 1px 0 1px rgba(0,0,0,0.05),inset 0 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 0 1px rgba(0,0,0,0.05),inset 0 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 0 1px rgba(0,0,0,0.05),inset 0 1px rgba(0,0,0,0.1);
}
.container{
	opacity: 1;
	z-index: 3;
	width: 100%;
	position: absolute;
}
.container h1{
	margin-bottom: 8px;
}
.container li{
	margin: 20px 0px 5px 15px;
}
.login-pane, .signup-pane{
	position: absolute;
	display: block;
	z-index: 3;
	top: 150px;
	width: 255px;
	padding: 0px 20px 15px 20px;
	border-radius: 5px 5px 5px 5px;

	background-color: #999;
}
.signup-pane{
	right: 220px;
}
.login-pane{
	left: 220px;
}
.login-pane form, .signup-pane legend{
	padding-top: 5px;
}
#notice{
	color: #f89728;
}
.footer-nav{
	color: #aaa;
	text-align: center;
}
.user-nav {
    position: absolute;
    top: 10px;
    right: 43px;
    text-align: center;
}
.user-nav a{
	color: #455560;
}
.user-nav a:visited{
	color: #455560;
}
ul.supercats-listing li{
	width: 100px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	border: 1px solid #999;
	border-radius: 5px 5px 5px 5px;
}
ul.feeds-listing  li{
	display: inline-block;
	text-align: center;
	vertical-align: top;
	border: 1px solid #999;
	border-radius: 5px 5px 5px 5px;
}
.reader-select-pane{
	position: relative;
	margin: 0px auto;
	width: 500px;
	top: 100px;
}
.select-random{
	text-align: center;
	float: left;
}
.select-subscription{
	float: right;
	text-align: center;
}