/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
body{
	font-family: 'Crimson Text';
	margin: 0;
}
#notice{
	color:yellow;
	position: absolute;
	left:65%;
	border: 1px solid red;
	padding:5px;
	top:15px;
	background-color: rgba(255,50,50,.5);
}

.content_pane{
	font-family: 'Crimson Text';
	font-size: 15px;
	margin: 20px;
	padding-left: 50px;
	padding-right: 75px;
}
.banner {
	font-family: 'Crimson Text';
	font-size: 15px;
	display: block;
	background: #999999;
	padding: 10px;
	height: 45px;
	border-bottom: 2px solid;
	margin: 0;
}
.banner img {
	position: relative;
	float: left;
	width: 125px;
	height: 47px;
	z-index: 2;
}
.banner .nav_menu_bar {
	position: relative;
	font-size: 23px;
	top: 22px;
	right: 200px;
	text-align:center;
	
	a{
		padding: 2px;
		background-color: #666666;
		color: orange;
		text-decoration:none;
		border-top: 2px solid white;
		border-left: 2px solid white;
		border-right: 2px solid white;
	}
	a:hover {
		color: white;
	}
}
.banner .login_menu_bar {
			position: absolute;
			top: 20px;
			right: 25px;
			width: 125px;
			font-size: 18px;
			a{
				text-decoration:none;
				color: white;
			}
			a:visited{
				color:white;
				text-decoration:none;
			}
			a:hover {
				color:black;
			}
}
.shadow {
	/* For all other browsers */
	-moz-box-shadow: 3px 3px 4px #666;
	-webkit-box-shadow: 3px 3px 4px #666;
	box-shadow: 3px 3px 4px #666;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666');
}


	
