// Place all the styles related to the reader controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face{
	font-family: Museo;
	src: url('/assets/MuseoSans_300.otf');
}
@font-face{
	font-family: Museo;
	font-weight: bold;
	src: url('/assets/MuseoSans_700.otf');
}
@font-face{
	font-family: Museo;
	font-style: italic;
	src: url('MuseoSans_300_Italic.otf');
}
@font-face{
	font-family: Cassia;
	src: url('/assets/CassiaXLig.otf');
}
body {
	margin:0;
    color: black;
    font-family: Museo, Cassia, sans-serif;
}
.content_pane {
	width:80%;
	position:absolute;
	margin-top: 50px;
	margin-left:150px;
	margin-right:120px;
	padding: 10px;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	.entry{
		padding-right: 120px;
		font-family: Cassia;
	}
}
.notice {
	position: absolute;
	top:10px;
	left: 65%;
	color: red;
	border: 1px solid red;
}
.top_bar{
	position: fixed;
	height: 30px;
	background-color: #ddd;
	color: #333;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	width: 100%;
	text-align: center;
	padding: 5px;
	font-size: 28px;
	font-family: Museo;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	z-index: 1;
}

#leftBackDrop {
	position:fixed;
	background-color: #455560;
	left:0px;
	width:130px;
	height: 100%;
	border-right: 2px solid black;
	z-index: 1;
}
#rightBackDrop {
	position:fixed;
	background-color: #455560;
	right:0px;
	width:130px;
	height: 100%;
	border-left: 2px solid black;
	z-index: 1;
}
.login{
	position: fixed;
	right: 15px;
	top: 10px;
	text-align: -webkit-center;
	z-index: 1;
	a{
		text-decoration: underline;
	}
	a:visited{
		color: #DDD;
	}
	a:hover {
		color: #F89728;
	}
}
#readerNavi {
    position:fixed;
    top:75px;
	left:0px;
    width:150px;
	margin-left: -30px;
	z-index: 1;
	#readSubscriptions {
		font-size: 13px;
	}
}
#readerNavi ul {
    margin-bottom:10px;
	list-style-type: none;
}
#readerNavi ul li a {
    display: block;
    border:1px solid #999;
    background-color:#222;
    border-left:6px solid #999;
    text-decoration:none;
    color:white;
    padding:0px 0px 0px 10px;
}
#readerNavi ul li a:hover {
	background-color: #f89728;
	color: black;
}

#explore {
	text-decoration: line-through;
}
h1{
	font-family: Museo, Helvetica;
	font-weight: bold;
	font-size: 28px;
	-webkit-margin-after: -.10em;
	text-decoration:underline;
}

#subscribe {
	position: fixed;
	background-color: #455560;
	top:5px;
	left:130px;
	padding-left: 3px;
	padding-right: 3px;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	color: white;
	z-index: 4;
	
	
	a{
		text-decoration: none;
		color: white;
	}
	a:visited{
		color: white;
		text-decoration: none;
	}
	a:hover {
		color: #ccc;
	}
}
.shadow {
	/* For all other browsers */
	-moz-box-shadow: 3px 3px 4px #666;
	-webkit-box-shadow: 3px 3px 4px #666;
	box-shadow: 3px 3px 4px #666;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666');
}
.byline {
	font-family: Museo;
	font-style: italic;
}