// Place all the styles related to the reader controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face{
	font-family: Museo;
	src: url('/assets/MuseoSans_300.otf');
}
@font-face{
	font-family: Museo;
	font-weight: bold;
	src: url('/assets/MuseoSans_700.otf');
}
@font-face{
	font-family: Museo;
	font-style: italic;
	src: url('MuseoSans_300_Italic.otf');
}
@font-face{
	font-family: Cassia;
	src: url('/assets/CassiaXLig.otf');
}
body{
	background-color: #455560;
	display: block;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font-family: Museo, Cassia, sans-serif;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    -moz-font-feature-settings: inherit;
    -moz-font-language-override: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

.main-header .actions, .main-header .top-nav {
    position: absolute;
    top: 0px;
    height: 50px;
}
.centered-element, .header-nav, .nav-drawer .drawer-content, .footer-nav, .main-content, .aside-content {
    width: 1070px;
    margin: 0px auto;
}
.header-wrapper {
    position: relative;
}
.main-header{
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	border-bottom: 1px solid #ffffff;
	background-color: #ffffff;
	min-width: 1020px;
	height: 50px;
	z-index: 100;
}
.main-header .home-link{
	position: absolute;
    top: 0px;
	height: 40px;
	left: 0px;
	display: block;
	width: 190px;
	padding: 10px 0px 0px 30px;
}
.main-header a.home-link, .main-header a.nav-link {
    background: none repeat scroll 0% 0% transparent;
}
.main-header .actions{
	right: 35px;
	z-index: 1;
	width: 100px;
	padding: 5px 10px 10px 0px;
	height: 35px;
	text-align: right;
}


.header-nav{
	position: relative;
	width: 1070px;
	text-decoration: none;
	color: rgb(200,200,200);
}
.header-nav a{
	text-decoration: none;
	color: #455560;
}
.nav-list li {
    list-style-image: none;
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}
.top-nav {
	right: 0px;
	width: 850px;
    overflow: hidden;
}
.top-nav .nav-list{
	padding: 15px 0px 12px;
}
.top-nav .nav-item{
	margin: 0px 7px 0px;
	padding: 0px 7px 0px;
	text-align: center;
	border-left: 1px solid #b0b0b0;
	border-right: 1px solid #b0b0b0;
}
.content{
	width: 1070px;
	margin: 0px auto;
	color: rgb(0, 0, 0);
	overflow: hidden;
	min-width: 1020px;
	border-bottom: 1px solid rgb(255, 255, 255);
	box-shadow: 10px 0 20px  -4px #222 , -10px 0 20px  -4px #222;
	-moz-box-shadow: 10px 0 20px  -4px #222, -10px 0 20px  -4px #222;
	-webkit-box-shadow: 10px 0 20px  -4px #222, -10px 0 20px  -4px #222;
}
.view {
	position: relative;
	width: 1070px;
	overflow: hidden;
}
.underlay{
	position: relative;
	width: 1070px;
	min-height: 700px;
	overflow: hidden;
	background: rgb(200,200,200);
	padding: 50px 0px 0px;
}

.blog-title, .category{
	top: 50px;
	background-color: white;
	position: relative;
	text-decoration: none;
	border-bottom: 1px solid #999;
	z-index: 2;
	padding-left: 10px;
	width: 1060px;
}	
.blog-title{
	text-align: center;
}
.category{
	text-align: left;
	color: #777;
}
.notice {
	position: absolute;
	top:10px;
	left: 65%;
	color: red;
	border: 1px solid red;
}
.top_bar{
	position: fixed;
	height: 30px;
	background-color: #ddd;
	color: #333;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	width: 100%;
	text-align: center;
	padding: 5px;
	font-size: 28px;
	font-family: Museo;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	z-index: 1;
}

#leftBackDrop {
	position:fixed;
	text-align: -webkit-center;
	background-color: #455560;
	left:0px;
	width:130px;
	height: 100%;
	border-right: 2px solid black;
	z-index: 1;
}
#logo{
	margin-top: 10px;
}
#rightBackDrop {
	position:fixed;
	background-color: #455560;
	right:0px;
	width:130px;
	height: 100%;
	border-left: 2px solid black;
	z-index: 1;
}
.login{
	position: fixed;
	right: 15px;
	top: 10px;
	text-align: -webkit-center;
	z-index: 1;
	a{
		color: #94ABAC;
		text-decoration: underline;
	}
	a:visited{
		color: #94ABAC;
	}
	a:hover {
		color: #F89728;
	}
}
.entry{
	padding: 20px;
}
.entry p{
	padding-top: 15px;
}
.title a{
	color: #444;
}
.title a.visited{
	color: #444;
}
.title a.hover{
	color: #666;
}
h1{
	font-family: Museo, Helvetica;
	font-weight: bold;
	font-size: 28px;
	-webkit-margin-after: -.10em;
	text-decoration:underline;
}
.reader-content{
	font-family: Cassia;
}

#subscribe {
	position: absolute;
	border-radius: 0px 0px 5px 5px;
	background-color: #455560;
	top:50px;
	right:50px;
	padding-left: 3px;
	padding-right: 3px;
	border: 1px solid #ccc;
	color: #FFF;
	z-index: 4;
	
	a{
		text-decoration: none;
		color: #FFF;
	}
	a:visited{
		color: #FFF;
		text-decoration: none;
	}
	a:hover {
		color: #ccc;
	}
}
.flow{
	z-index: 1;
	position: fixed;
	margin-top: 300px;
	width: 75px;
	height: 65px;
	opacity: 0.7;
	transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}
.flow:hover{
	opacity: 1.0;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}
.flow-left{
	background: image_url("flow-left.png") no-repeat;
	left: 50px;
}
.flow-right{
	background: image_url("flow-right.png") no-repeat;
	right: 50px;
}
.shadow {
	/* For all other browsers */
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2), -1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2), -1px 1px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2), -1px 1px 2px rgba(0,0,0,0.2);
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#666666')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#666666');
}
.byline {
	font-family: Museo;
	font-style: italic;
}
.button {
	line-height: 18px;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	text-shadow: 0px 1px rgb(255,255,255);
	color: #FFFFFF;
	background: #EEE;
	border: 1px solid #b0b0b0;
	box-shadow: none;
	-moz-background-origin: border;
	-moz-box-shadow: none;
	-ms-background-origin: border-box;
	-o-background-origin: border-box;
	text-shadow: 0 1px #fff;
	-webkit-background-origin: border;
	-webkit-box-shadow: none;
	min-width: 100px;
}
.button, input, textarea{
	border-radius: 5px 5px 5px 5px;
	padding: 7px 5px;
	top: 0px;
	left: 0px;
	margin-top: 5px;
	box-shadow: none;
	border-width: 1px;
	border-style: solid;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
}
.button:hover{
	background: #e5e5e5;
	border-color: #dedede #d4d4d4 #c8c8c8;
}
.button:active{
	background: #ccc;
	background: linear-gradient(#cccccc,#eeeeee);
	background: -moz-linear-gradient(#cccccc,#eeeeee);
	background: -o-linear-gradient(#cccccc,#eeeeee);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #eeeeee));
	background: -webkit-linear-gradient(#cccccc,#eeeeee);
	border-color: #828282 #b4b4b4 #dfdfdf;
	box-shadow: inset 0 1px 0 1px rgba(0,0,0,0.05),inset 0 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 0 1px rgba(0,0,0,0.05),inset 0 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 0 1px rgba(0,0,0,0.05),inset 0 1px rgba(0,0,0,0.1);
}
.signin-button{
	padding: 5px 5px;
	font-size: 13px;
	min-width: 78px;
}
.more{
	margin: 0% 0% 2% 45%;
}