// Place all the styles related to the supercategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require application
ul.feeds-listing  li{
	display: inline-block;
	text-align: center;
	vertical-align: top;
	border: 1px solid #999;
	border-radius: 5px 5px 5px 5px;
}