<% title "Explore New Content" %>
 <h1>Explore the best of the internet</h1>
<ul class="supercats-listing">
	<% @supercategories.each do |sc| %>
	<li>
		<%= link_to sc.name, supercategory_path(sc, view: :feed)%>
		</br>
		<%= sc.feed_ids.count %> feeds
	</li>
	<% end %>
</ul>
</table>