
    <h1>Explore is the very next feature we're implementing</h1>
    <p>We've got big plans for onReader explore:</br>
        <ul>
            <li>View reading content by:
                <ul>
                    <li>Category</li>
                    <li>Popularity</li>
                    <li>Personalized suggested reading</li>
                </ul>
            </li>
            <li>Vote on and categorize the things you're reading so others can benefit!</li>
        </ul>
        We think that Explore will be a vital element of easily finding awesome new reading content.
        </p>
