<% title "Explore New Content" %>
 <h1>Find awesome new content!</h1>
<ul class="supercats-listing">
	<% @supercategories.each do |sc| %>
	<li>
		<%= link_to sc.name, sc %>
		</br>
		(<%= sc.feed_ids.count %>)
	</li>	
	<% end %>
</ul>
</table>