
<h1><%= @entries.first.title %></h1>
<div class=summary><%= sanitize(@entries.first.summary) %></div>
<div class=content><%= sanitize(@entries.first.content) %></div>
<%= button_to "logout", logout_path, :method => :delete %>
